<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Derek And Phil</title>
</head>

<body>
  




  

<div>
  <h2>Users Index</h2>
    <%@users.each do |user| %>
    <a href="/users/<%=user.id%>"><%=user.name.capitalize%></a>
    <p> <%= user.email %></p>
    <p>---------------------</p>
    <%end%>
</div>

</body>

</html>